.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  flex: 1;
  padding: 50px;
}

.link {
  margin-top: 20px;
}

.btns {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 425px){
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    //justify-content: space-between;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
  }
}

.btn {
  display: block;
  @media screen and (max-width: 425px){
    width: 100%;
  }
}

//.btn {
//  background-color: #FFFFFF;
//  border: 1px solid rgba(0, 0, 0, 0.1);
//  border-radius: .25rem;
//  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
//  color: rgba(0, 0, 0, 0.85);
//  max-width: 250px;
//  text-align: center;
//  cursor: pointer;
//  font-size: 14px;
//  padding: 10px;
//  font-weight: 600;
//  justify-content: center;
//  text-decoration: none;
//  transition: all 250ms;
//  &:hover, &:focus {
//    border-color: rgba(0, 0, 0, 0.15);
//    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
//    color: rgba(0, 0, 0, 0.65);
//    transform: translateY(-1px);
//  }
//  &:active {
//    background-color: #F0F0F1;
//    border-color: rgba(0, 0, 0, 0.15);
//    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
//    color: rgba(0, 0, 0, 0.65);
//    transform: translateY(0);
//  }
//
//  @media screen and (max-width: 800px){
//    font-size: 14px;
//  }
//
//  @media screen and (max-width: 670px){
//    font-size: 12px;
//  }
//
//  @media screen and (max-width: 480px){
//    font-size: 9px;
//  }
//}

